pyaudio==0.2.11
nltk==3.6.2
wikipedia-api==0.5.4
certifi==2021.5.30
chardet==4.0.0
gTTS==2.2.3
Pillow==8.3.1
plyer==2.0.0
pyautogui==0.9.53
pyjokes
pyttsx3==2.90
pywhatkit==5.1
requests==2.26.0
SpeechRecognition==3.8.1
wikipedia==1.4.0



#run this file using command : pip install -r requirements.txt 
#in terminal to pip install all libraries used in assistant
